@font-face {
    font-family: 'atkinson';
    src: url('/assets/fonts/AtkinsonHyperlegible-Regular.ttf');
}

body{
    background-color: #152938;
    margin: auto;
    text-align: center;
    font-family: 'atkinson';

}

.memory-heading{
    font-size: 2rem;
    color:#f2f2f2;
}

.setup-box {
    background-color: #f2f2f2;
    padding: 30px 50px;
    width: 50vw;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.setup-text {
    color: #7191A5;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.section{
    display: flex;
    justify-content: space-between;
}
.long-button{
    width: 45%;
    padding: 10px 0;
    border-radius: 20px;
    color: #f2f2f2;
    border: 0px;
    font-size: 1.3rem;
}

.blue{
    background-color: #152938;
}

.grey{
    background-color: #BCCED9;
}
.short-button{
    padding: 10px 0;
    width: 22%;
    margin: 5px 0;
    border-radius: 25px;
    color: #f2f2f2;
    border: 0px;
    font-size: 1.3rem;
}

.long-button:hover{
    background-color: #6395B8;
    cursor: pointer;
}

.short-button:hover{
    background-color: #6395B8;
    cursor: pointer;
}

.start-game {
    width: 80%;
    display: block;
    margin: 30px auto;
    background-color: #FDA214;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: bold;
}

.start-game:hover{
    opacity:  0.7;
    cursor: pointer;
}